body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
} 
.Getstarted {
    position: relative;
    left: 30px;
    size: 30px;
    top: 10px;
    

}
.container1{
    background-color:brown;
    height: 40px;
    width: 180px;
    position: relative;
    left: 250px;
    border-radius: 20px;
    top: -30px;
}

img {
    height: 200;
    width: 250px;
    position: relative;
    left: 150px;
}
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: auto;
}
.ADDCRIMINALData{
    background-color:brown;
    margin: 30px;
    padding: 20px;
    font-size: 25px;
    color: black;
    border-radius: 30px;  
}
.findcriminalbyphoto{
    background-color:brown;
    margin: 30px;
    padding: 20px;
    font-size: 25px;
    color: black;
    border-radius: 30px;  

}
.section{
    padding: 50px;
}

.container2{
    margin: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}